<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista piw</title>
</head>
<body>
<h1>Lista piw</h1>

<table>
    <thead>
    <tr>
        <th>Nazwa</th>
        <th>Zawartość alkoholu</th>
        <th>Tagline</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="beer : ${beers}">
        <td th:text="${beer.name}"></td>
        <td th:text="${beer.abv}"></td>
        <td th:text="${beer.description}"></td>
        <td th:text="${beer.food_pairing}"></td>
        <td><img th:src="@{${beer.image_url}}"  height="60px" /></td>
    </tr>
    </tbody>
</table>
</body>
</html>