<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista piw</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="container">
    <form action="#" th:action="@{/beers/food}" th:object="${params}" method="post">
        <label>Show a list of beers that match the ingredient :</label>
        <input type="text" th:field="*{ingredient}" />
        <input type="submit" value="Show" />
    </form>
</div>
<hr>
<div class="container">
    <form action="#" th:action="@{/beers/alcohol}" th:object="${params}" method="post">
        <label>Wybierz piwa o zawartości alkoholu większej niż:</label>
        <input type="text" th:field="*{abv_gt}" />
        <label>i mniejszej niż:</label>
        <input type="text" th:field="*{abv_it}" />
        <input type="submit" value="Show" />
    </form>
</div>
<hr>
<div class="container">
    <form action="#" th:action="@{/dishes/random}" method="post">
        <label>Show a random dish</label>
        <input type="submit" value="Show" />
    </form>
</div>
<hr>
<div class="container">
    <form action="#" th:action="@{/dinner_set}" th:object="${params}" method="post">
        <label>Show a dinner set that match the ingredient :</label>
        <input type="text" th:field="*{ingredient}" />
        <input type="submit" value="Show" />
    </form>
</div>
<hr>
<div class="container">
    <form action="#" th:action="@{/beers/random}" method="post">
        <label>Show a random beers</label>
        <input type="submit" value="Show" />
    </form>
</div>
</body>
</html>